<header>
  <nav class="navbar">
    <a class="navbar-brand" href="/">WikiMap</a>
    <div class="navbar-profile">
      <button class="home-btn"><i class="fa-solid fa-house"></i></button>
    </div>
  </nav>
</header>
