
  <nav class="navbar">
    <a class="navbar-brand" href="/">WikiMap</a>
    <div class="navbar-profile">
      <% if (user.id) { %>
        <form>
          <button class="home-btn" type="submit" formaction="/users/<%= user.id %>"><i class="fa-solid fa-house"></i></button>
        </form>
      <% } else { %>
        <!-- Will log in as Alice, user 1  -->
        <form>
          <button type="submit" formaction="/login/1">Login</button>
       </form>
      <% } %>
    </div>
  </nav>

