<!DOCTYPE html>
<html lang="en">

<head>
  <title>Maps</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/myMaps.css" />
  <link rel="stylesheet" href="/styles/header.css" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- update -->
</head>

<body>
  <%- include('partials/_header') %>
  <h1><%= title %></h1>
  <main class="container">

      <section class="cards-container">
          <% for (let map of maps) { %>
          <a href="/maps/<%= map.id %>">
            <div class="card" >
            <img src="https://picsum.photos/100" alt="trial image">
              <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center=40.714%2c%20-73.998&zoom=12&size=400x400&key=AIzaSyDZwkpyS2wjI8ak01aR4vc8c8dz7FT5JuE" alt="map-img"> -->

              <div class="card-text">
                <h3 class="card-title"><%= map.title %></h3>
              </div>
          </div>
        </a>
          <% } %>

        </section>

    <section class="container-my-favs">

    </section>
</main>
</body>

</html>
