$beige: #fcfbf9;
$light-grey: #f1f3f4;
$lightBrown: #dda15e;
$brown: #bc6c25;
$darkGreen: #283618;
$green: #606c38;
$font-family: Roboto, Arial, sans-serif;


$google-green: #0F9D58;
$google-blue: #4285F4;
$google-yellow: #FBBB05;
$google-red: #E94335;

// complementary blues
$darker-blue: #214B7A;
$google-blue: #357bea;
$lighter-blue: #7baaf7;
$lightest-blue: #c6dafc;

