@import '_helpers.scss';

nav {
  position: fixed;
  top:0;
  font-family: $font-family;
  font-size: 24px;
  height: 60px;
  width: 100%;
  background-color: #183619;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  color: $light-grey;
  padding: {
    left: 0.5em;
    right: 0.5em;
    bottom: 1em;
    top: 2em; /* Add a top padding to avoid content overlay */
  }
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-brand {
    text-decoration: none;
    color: inherit;
    padding: 0.5em;

  }

  .home-btn {
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    padding: 0.5em;
    cursor: pointer;
  }

}
