@import '_helpers.scss';



main {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  font-family: $font-family;
  flex-direction: column;
  z-index: -1;
  background: $darker-blue;
}

#map {
  display: flex;
  height: 100%;
  width: 100%;
  bottom: 0;
}

#infowindow-content .title {
  font-weight: 400;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 22px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto, Arial, sans-serif;
  padding: 2px;
}

#pac-container {
  top: 8%;
  right: auto;
  z-index: 99;
  display: inline;
}

.pac-controls {
  display: inline;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  font-weight: 300
}

#pac-input {
  background-color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-left: 12px;
  padding: 10px 10px 10px 10px;
  text-overflow: ellipsis;
  width: 10em;
}

#pac-input:focus {
  border-color: $lightest-blue;
}




.custom-map-control-button {
  display: none;
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 20px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
  bottom: 8%;
  left: auto;
  position: relative;
}

.custom-map-control-button:hover {
  background: $light-grey;
  display: none;
}

body {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // min-height: 100vh;
  padding-top: 80px;
  background: $green;
}

// save map button and form
.open-button {
  display: block;
  background-color: #bbbbbb;
  color: black;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  position: fixed;
  bottom: 2%;
  right: 3em;
  width: 10em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 22px;
  z-index: 99;
  margin:auto
}

/* The popup form - hidden by default */
.save-map-form-window {
  display: block;
  position: fixed;
  background-color: #fff;
  bottom: 5%;
  right: 2em;
  border: 3px solid #f1f1f1;
  z-index: 99;
  border-radius:8px;
  box-shadow: 0 1px 2px rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
  font-family: Roboto, Arial, sans-serif;
}

/* Add styles to the form container */
.map-form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;

}

/* Full-width input fields */
.map-form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 1px black;
  background: #ddd;
}

/* When the inputs get focus, do something */
.map-form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
  border: 1px black;
}

/* Set a style for the save button */
.map-form-container .btn {
  background-color: #a7edd3;
  color: rgb(0, 0, 0);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-bottom:10px;
  opacity: 0.9;
}

/* Add a red background color to the cancel button */
.map-form-container .btn-cancel {
  background-color: rgb(236, 209, 209);
  color: rgb(0, 0, 0);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-bottom:10px;
  opacity: 0.9;

}

/* Add some hover effects to buttons */
.map-form-container .btn:hover, btn-cancel:hover, .open-button:hover {
  opacity: 1;
}


//user-landing-page
.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  color: rgb(5, 25, 45);

  .user {
    display: flex;
    flex-direction: column;

    .name {
      display: flex;
      justify-content: center;
      margin-top: 1em;
      margin-bottom: 0;
      font-size: 32px;


    }
    .email {
      display: flex;
      justify-content: center;
      margin-top: 1em;
      font-size: 18px;

    }
  }

}

#user-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(5, 25, 45);
  font-size: 24px;

  div {
    display:flex;
    justify-content: flex-start;
    padding-bottom: 0.5em;

  }

  i {
    // width: 35px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    // text-align: center;
    color: rgb(5, 25, 45);

  }
  button {
    background-color: $beige;
    color: rgb(5, 25, 45);
    border-radius: 10px;
    margin-top: 20px;
    &:hover {
      cursor: pointer;
      background-color: $light-grey;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
