@import '_helpers.scss';

#map {
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: $green;


}

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $beige;

  img {
    border-radius: 50%;
  }

  .user {
    display: flex;
    flex-direction: column;

    .name {
      display: flex;
      justify-content: center;
      margin-top: 1em;
      margin-bottom: 0;


    }
    .email {
      display: flex;
      justify-content: center;
      margin-top: 1em;

    }
  }

}

#user-links {
  display: flex;
  flex-direction: column;
  color: $beige;
  div {
    display:flex;
    justify-content: flex-start;
    padding-bottom: 0.5em;
  }

  i {
    width: 35px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    text-align: center;

  }
}
