@import '_helpers.scss';


  .cards-container {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: inherit;
    }


    .card {
      margin: {
        right: 10px;
        left: 10px;
        bottom: 10px;
      }

      display: flex;
      flex-direction: column;
      justify-content: center;

      background: $beige;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      border-radius: 5px;

      img {
        border-radius: 5px 5px 0 0;
        width: 100%;
      }

      .card-text {
        display: flex;
        justify-content: center;

        h3 {
          margin: 1em;
        }
      }
    }
  }
  .card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }

